/node_modules/

# ./wrapper/dist gets included in top-level ./dist
wrapper/dist

# Jetbrains IDEs
.idea/
.iml

# dotenv environment variables file
.env

# log files
*.log

# lock files
*.lock
*.lock.*

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude all .tfvars files, which are likely to contain sentitive data (i.e., password, private keys, and other secrets)
#*.tfvars

# Crash log files
crash.log

out/

# Secrets
secrets/
